*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
}

/* LAYOUT */

.header, .main {
  text-align: center;
}

.dice-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

/* Die */
.die-container {
  background-color: #ffecd1;
}
